.button-c {
    width: 330px;
    padding-left: 35px;
    height: 60px;
    border-radius: 20px;
    background: #000;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 29px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.btn-light {
    background-color: white;
}

.icon {

}

.title {
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 117.647% */
    letter-spacing: 0.5px;
}

.btn-light .title {
    color: black;
}