:root {
    --empty: #52525224;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.site-header {

}
.topbar {
    width: 100%;
    background-color: #fff;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar > ul:nth-child(1){
    margin-left: 72px;
}

.topbar > ul:nth-child(2){
    margin-right: 72px;
}

.topbar >ul {
    display: flex;
    align-items: center;
}

.topbar > ul > li {
    display: inline;
    padding: 0 10px;
}

.topbar > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-weight: 400;
}
  
.topbar__logo {
    height: 18px;
}

.topbar-promotion {
    width: 100%;
    background-color: #525252;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-promotion > .topbar__section {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.topbar__buy-now {
    height: 18px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.header {
    width: 100%;
    background-color: #231f20;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > *:first-child {
    margin-left: 72px;
  }
  
  .header > *:last-child {
    margin-right: 72px;
  }

/* .d-inline {
    display: inline;
} */

.header__nav {
    display: flex;
    height: 100%;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 0 16px;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header__item-1 {
    background: rgb(245, 27, 86);
}

.header__item:hover {
    background: #3c3c3c;
}
  
.header__item > a {
    color: white;
}

.header__search {
    width: 210px;
    height: 50px;
    padding: 0 20px 0 40px;
    border-radius: 25px;
}

.header__search:focus-visible {
    border: none;
    outline: none;
}

.search__box {
    position: relative;
}

.search__icon {
    position: absolute;
    left: 12px;
    top : 50%;
    color: #212121;
}

.user__icon , .cart__icon {
    color: white;
}

.header__button {
    width: 48px;
    height: 48px;
    background: transparent;
}

.cart__box {
    position: relative;
}

.cart__counter {
    font-size: 10px;
    background: yellow;
    width: 12px;
    height: 12px;
    display: inline-block;  
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content:center;
    align-items: center;
}



.running__banner {
    width: 100%;
    height: 600px;
    background-color: var(--empty);
    border-bottom: 1px solid red;
}

.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.running__article {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid red;
}

.article {
    display: flex;
    font-size: 3rem;
    color: black;
    margin: 20px 25px;
    font-weight: 500;
}


.running__feature {
width: 100%;
  height: 600px;
  background-color: var(--empty);
  border-bottom: 1px solid red;
}

.slider{
    width: 100%;
    height: 600px;
    background-color: var(--empty);
    border-bottom: 1px solid red;
}

.banner__img--1 {
    width: 1813px;
    height: 567px;
    object-fit: cover;
    position: relative;
    
}

.banner__img--effect {
    position : absolute;
    z-index: 1;
    left: 40px;
    top : 50%;

}

.banner__img--effect > h1 {
    font-size: 500%;
}

.banner__img--effect > button {
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}
