.wrapper {

}

.title  {
  &__content {
    color: #101010;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 117.647% */
    letter-spacing: -0.34px;
}

  &__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

}
.categories {

}

.category  {
  &__content {

}

  &__name {
    color: #171717;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;
}

  &__desription {
    color: #969696;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 138.889% */
}

  &__prite {
    color: #FF4415;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

  &__image {

}

}