body {
  background-image: url(../img/bg.jpg);
}

.srcollbar {
  margin-top: 240px;
  display: flex;
}

.container {
  margin: auto;
}

.linered {
  display: inline-block;
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background: red;
}

.line {
  width: 280px;
  height: 1px;
  background: #E3E3E3;
}

.card {
  border-radius: 20px;
  background: white;
}

.page {
  display: flex;
  margin-top: 240px;
  position: relative;
}

.information {
  position: relative;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
.information__avartar {
  width: 240px;
  height: 240px;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.information__user {
  padding-top: 140px;
  text-align: center;
}
.information__user__name {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.125rem;
}
.information__user__position {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #F3F6F6;
  border-radius: 8px;
}
.information__user__icon {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}
.information__user__info {
  margin: 30px;
  padding: 10px 10px 10px 30px;
  border-radius: 16px;
  background: #F3F6F6;
}
.information__btn {
  display: inline-flex;
  margin-bottom: 30px;
  padding: 1px 30px;
  border-radius: 10px;
  background: linear-gradient(94deg, #FA5252 0%, #DD2476 100%);
}
.information__btn__icon {
  width: 22px;
  height: 22px;
  margin: 18px 10px 0 0;
}
.information__btn__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #F3F6F6;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: row;
}
.info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 11px 15px;
  margin-right: 10px;
  background: var(--white);
  border-radius: 8px;
  margin-top: 12px;
  background: white;
}
.info__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info__content__title {
  margin-bottom: 2px;
  color: var(--color-secondary);
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.info__content__description {
  text-align: left;
  margin-top: 2px;
}

.main {
  margin: 184px 0 60px 40px;
}

.wrapper {
  padding: 60px;
}
.wrapper__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.wrapper__header__title {
  display: inline;
  margin-right: 30px;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.3125rem;
}

.list__title__icon {
  color: #F95054;
  font-family: Font Awesome 5 Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.list__title__name {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.list__content {
  display: flex;
  flex-direction: column;
}
.list__content__item {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 15px 15px 20px;
  box-sizing: border-box;
  border-radius: 12px;
}
.list__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.4375rem;
}
.list__content__description {
  color: #44566C;
  font-size: 0.925rem;
  line-height: 1.875rem;
}
.list__title__icon {
  margin-right: 10px;
  width: 27px;
}
.list__title__name {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.4375rem;
}

.crossbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  padding: 30px;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}
.crossbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 17px 22px 15px 22px;
  border-radius: 12px;
  background: #F3F6F6;
}
.crossbar__item__icon {
  height: 25px;
}
.crossbar__item__title {
  margin-top: 7px;
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 0.725rem;
  line-height: 1.25rem;
}/*# sourceMappingURL=style.css.map */